/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* VARs */
/* MIXINs */
/* =========================================
=            SITE WIDE STYLES           
/* ========================================*/
/* line 91, ../sass/screen.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 96, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 99, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 102, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 103, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 104, ../sass/screen.scss */
.supersites {
  background: #747474;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  /* line 104, ../sass/screen.scss */
  .supersites {
    margin-bottom: 12px;
  }
}
/* line 108, ../sass/screen.scss */
.supersites section {
  padding-top: 3px;
  width: 99%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  /* line 108, ../sass/screen.scss */
  .supersites section {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  /* line 108, ../sass/screen.scss */
  .supersites section {
    width: 80%;
  }
}
/* line 111, ../sass/screen.scss */
.supersites section .tel {
  display: none;
  width: 30%;
  float: left;
  text-align: right;
  line-height: 0.8em;
  color: white;
}
@media (min-width: 600px) {
  /* line 111, ../sass/screen.scss */
  .supersites section .tel {
    display: block;
  }
}
/* line 121, ../sass/screen.scss */
.supersites section .tel svg {
  fill: white;
  width: 17px;
  display: inline-block;
}
/* line 126, ../sass/screen.scss */
.supersites section .tel a {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
}
/* line 132, ../sass/screen.scss */
.supersites section .tel span {
  display: none;
  font-size: 11px;
}
@media (min-width: 768px) {
  /* line 132, ../sass/screen.scss */
  .supersites section .tel span {
    display: block;
  }
}
/* line 138, ../sass/screen.scss */
.supersites section nav {
  text-transform: uppercase;
  font-size: 0;
  width: 100%;
  float: left;
}
@media (min-width: 600px) {
  /* line 138, ../sass/screen.scss */
  .supersites section nav {
    width: 70%;
  }
}
/* line 146, ../sass/screen.scss */
.supersites section nav div.use {
  display: inline-block;
}
/* line 149, ../sass/screen.scss */
.supersites section nav a {
  background: #e1e1e1;
  padding: 8px;
  color: #404040;
  margin: 4px 2px 0 0;
  display: inline-block;
  font-size: 10px;
  border-radius: 4px 4px 0 0;
}
/* line 151, ../sass/screen.scss */
.supersites section nav a:hover {
  background: #e1e1e1;
}
@media (min-width: 768px) {
  /* line 149, ../sass/screen.scss */
  .supersites section nav a {
    font-size: 14px;
  }
}
/* line 159, ../sass/screen.scss */
.supersites section nav a.hec span {
  display: none;
}
@media (min-width: 480px) {
  /* line 159, ../sass/screen.scss */
  .supersites section nav a.hec span {
    display: inline;
  }
}
/* line 163, ../sass/screen.scss */
.supersites section nav a.current {
  color: black;
  background: white;
}

/* =========================================
=            INNER HEADER + LOGO           =
/* ========================================*/
/* line 174, ../sass/screen.scss */
.inner {
  width: 99%;
  margin: 0 auto;
  /* =========================================
  =           MY ACCOUNT LINKS            =
  /* ========================================*/
  /* =========================================
=            CHECKOUT BUTTON           =
/* ========================================*/
}
@media (min-width: 600px) {
  /* line 174, ../sass/screen.scss */
  .inner {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  /* line 174, ../sass/screen.scss */
  .inner {
    width: 80%;
  }
}
/* line 176, ../sass/screen.scss */
.inner .logo {
  width: 28%;
  float: left;
  margin-top: 0px;
}
@media (min-width: 600px) {
  /* line 176, ../sass/screen.scss */
  .inner .logo {
    margin-top: 33px;
  }
}
@media (min-width: 1300px) {
  /* line 181, ../sass/screen.scss */
  .inner .logo svg {
    width: 267px;
  }
}
@media (min-width: 700px) {
  /* line 181, ../sass/screen.scss */
  .inner .logo svg {
    width: 190px;
  }
}
/* line 190, ../sass/screen.scss */
.inner .account {
  width: 72%;
  float: left;
 /* =========================================
=            SEARCH          =
/* ========================================*/
}
/* line 193, ../sass/screen.scss */
.inner .account nav {
  float: right;
  display: block;
  margin-bottom: 12px;
  padding-left: 10px;
}
/* line 198, ../sass/screen.scss */
.inner .account nav a {
  color: #747474;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 6px 0 6px;
}
@incude breakpoint(600) {
  /* line 198, ../sass/screen.scss */
  .inner .account nav a {
    padding: 0 12px 0 12px;
  }
}
/* line 202, ../sass/screen.scss */
.inner .account nav a:hover {
  text-decoration: underline;
}
/* line 205, ../sass/screen.scss */
.inner .account nav a:last-child {
  border: none;
  padding-right: 0;
}
/* line 209, ../sass/screen.scss */
.inner .account nav a.sign-in {
  display: none;
}
@media (min-width: 768px) {
  /* line 213, ../sass/screen.scss */
  .inner .account nav a.sign-in {
    display: inline;
  }
}
/* line 222, ../sass/screen.scss */
.inner .account .searchCheck {
  clear: both;
}
/* line 224, ../sass/screen.scss */
.inner .account .searchCheck .searchForm {
  width: 100%;
  float: left;
  min-height: 30px;
}
/* line 228, ../sass/screen.scss */
.inner .account .searchCheck .searchForm form {
  display: inline;
}
/* line 231, ../sass/screen.scss */
.inner .account .searchCheck .searchForm input {
  padding: 6px;
  font-size: 12px;
  width: 45%;
  border: 1px solid #e1e1e1;
  float: left;
  height: 36px;
  background: #fbfbfb;
  margin-left: 8%;
}
@media (min-width: 550px) {
  /* line 231, ../sass/screen.scss */
  .inner .account .searchCheck .searchForm input {
    margin-left: 2%;
  }
}
/* line 242, ../sass/screen.scss */
.inner .account .searchCheck .searchForm button {
  font-size: 14px;
  border-radius: 0;
  background: #000;
  border: none;
  float: left;
  display: inline-block;
  height: 36px;
}
/* line 250, ../sass/screen.scss */
.inner .account .searchCheck .searchForm button svg {
  width: 24px;
  fill: white;
}
/* line 262, ../sass/screen.scss */
.inner .checkout svg {
  width: 20px;
  margin-top: -1px;
  float: left;
  margin-right: 5px;
}
/* line 268, ../sass/screen.scss */
.inner .checkout .bag {
  display: none;
  font-size: 14px;
  background: #e1e1e1;
  padding: 9px;
  float: right;
}
@media (min-width: 700px) {
  /* line 268, ../sass/screen.scss */
  .inner .checkout .bag {
    display: inline;
  }
}
/* line 275, ../sass/screen.scss */
.inner .checkout .bag span {
  display: none;
}
@media (min-width: 1100px) {
  /* line 275, ../sass/screen.scss */
  .inner .checkout .bag span {
    display: inline;
  }
}
/* line 280, ../sass/screen.scss */
.inner .checkout .out {
  font-size: 14px;
  background: #000;
  padding: 9px;
  float: right;
  color: white;
  fill: white;
}
/* line 283, ../sass/screen.scss */
.inner .checkout .out:hover {
  background: #d30051;
  color: #fff;
}
/* line 291, ../sass/screen.scss */
.inner .checkout .out .text {
  display: none;
}
@media (min-width: 700px) {
  /* line 293, ../sass/screen.scss */
  .inner .checkout .out svg {
    display: none;
  }
  /* line 294, ../sass/screen.scss */
  .inner .checkout .out .text {
    display: inline;
  }
  /* line 295, ../sass/screen.scss */
  .inner .checkout .out .items {
    display: none;
  }
}

/* =========================================
=            MAIN NAV 
/* ========================================*/
/* line 304, ../sass/screen.scss */
.site-menu {
  padding-top: 12px;
  display: block;
  clear: both;
  font-size: 0;
  width: 99%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  /* line 304, ../sass/screen.scss */
  .site-menu {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  /* line 304, ../sass/screen.scss */
  .site-menu {
    width: 80%;
  }
}
/* line 310, ../sass/screen.scss */
.site-menu svg {
  display: none;
}
/* line 313, ../sass/screen.scss */
.site-menu .close-text, .site-menu .close {
  display: none;
}
/* line 314, ../sass/screen.scss */
.site-menu .hamburger {
  display: inline;
}
/* line 315, ../sass/screen.scss */
.site-menu ul {
  display: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;
  padding: 0;
  margin: 0;
}
@media (min-width: 600px) {
  /* line 315, ../sass/screen.scss */
  .site-menu ul {
    display: block;
  }
}
/* line 325, ../sass/screen.scss */
.site-menu ul li {
  border-right: 1px solid white;
  display: block;
}
@media (min-width: 600px) {
  /* line 325, ../sass/screen.scss */
  .site-menu ul li {
    display: inline-block;
    width: 25%;
  }
  /* line 332, ../sass/screen.scss */
  .site-menu ul li:nth-child(4) {
    border-right: none;
  }
}
@media (min-width: 900px) {
  /* line 325, ../sass/screen.scss */
  .site-menu ul li {
    width: 12.5%;
  }
  /* line 336, ../sass/screen.scss */
  .site-menu ul li:nth-child(4) {
    border-right: 1px solid #fff;
  }
}
/* line 338, ../sass/screen.scss */
.site-menu ul li > a {
  display: block;
  width: 100%;
  background: #fff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
/* line 343, ../sass/screen.scss */
.site-menu ul li > a:hover {
  background: #ba0047;
  color: #fff;
}
/* line 352, ../sass/screen.scss */
.site-menu ul .inner-nav {
  display: none;
}
/* line 354, ../sass/screen.scss */
.site-menu ul .inner-nav > a {
  padding: 8px;
}
/* line 355, ../sass/screen.scss */
.site-menu ul .inner-nav a:hover {
  text-decoration: underline;
}

/* line 362, ../sass/screen.scss */
.toggle-nav {
  display: inline-block;
  width: 100%;
  padding: 6px;
  line-height: 1.6em;
  background: black;
  color: white;
  font-size: 14px;
  text-align: center;
}
/* line 371, ../sass/screen.scss */
.toggle-nav svg {
  width: 20px;
  fill: white;
  float: left;
  display: inline;
}
/* line 376, ../sass/screen.scss */
.toggle-nav svg .close-text {
  display: none;
}
@media (min-width: 600px) {
  /* line 362, ../sass/screen.scss */
  .toggle-nav {
    display: none;
  }
}

/* =========================================
=            META NAV 
/* ========================================*/
/* line 387, ../sass/screen.scss */
.meta-nav {
  display: none;
  float: right;
  margin-top: 10px;
}
@media (min-width: 600px) {
  /* line 387, ../sass/screen.scss */
  .meta-nav {
    display: block;
  }
}
/* line 392, ../sass/screen.scss */
.meta-nav a {
  color: #747474;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 11px;
  padding: 0 8px;
  border-right: 1px solid #e1e1e1;
}
/* line 397, ../sass/screen.scss */
.meta-nav a:last-child {
  border: none;
  padding-right: 0;
}
/* line 398, ../sass/screen.scss */
.meta-nav a:hover {
  text-decoration: underline;
}

/* =========================================
=            SECONDARY NAV 
/* ========================================*/
/* line 405, ../sass/screen.scss */
.secondary-nav {
  width: 99%;
  margin: 0 auto;
  font-size: 0;
  display: none;
}
@media (min-width: 600px) {
  /* line 405, ../sass/screen.scss */
  .secondary-nav {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  /* line 405, ../sass/screen.scss */
  .secondary-nav {
    width: 80%;
  }
}
@media (min-width: 480px) {
  /* line 405, ../sass/screen.scss */
  .secondary-nav {
    display: block;
  }
}
/* line 410, ../sass/screen.scss */
.secondary-nav a {
  background: #fff;
  display: inline-block;
  color: #000;
  padding: 6px 8px;
  font-size: 12px;
  width: 100%;
  border-bottom: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  /* line 410, ../sass/screen.scss */
  .secondary-nav a {
    width: 50%;
    border-bottom: none;
  }
}
@media (min-width: 900px) {
  /* line 410, ../sass/screen.scss */
  .secondary-nav a {
    width: 25%;
  }
}
/* line 423, ../sass/screen.scss */
.secondary-nav a::after {
  content: " >";
}
/* line 424, ../sass/screen.scss */
.secondary-nav a:hover {
  text-decoration: underline;
}

/* =========================================
=            TERTIARY NAV 
/* ========================================*/
/* line 432, ../sass/screen.scss */
.tertiary-nav {
  display: none;
  width: 99%;
  margin: 0 auto;
  padding: 6px;
  background: #ffedf4;
  text-align: center;
  margin-top: 6px;
}
@media (min-width: 480px) {
  /* line 432, ../sass/screen.scss */
  .tertiary-nav {
    display: block;
  }
}
@media (min-width: 600px) {
  /* line 432, ../sass/screen.scss */
  .tertiary-nav {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  /* line 432, ../sass/screen.scss */
  .tertiary-nav {
    width: 80%;
  }
}
/* line 440, ../sass/screen.scss */
.tertiary-nav a {
  color: #540020;
  font-size: 14px;
  text-transform: uppercase;
}

/* =========================================
            DESKTOP HOVER           
/* ========================================*/
/* line 453, ../sass/screen.scss */
.desktop .header {
  padding: 8px;
}

/* line 457, ../sass/screen.scss */
.desktop .site-menu li:last-child {
  border-right: none;
}
/* line 460, ../sass/screen.scss */
.desktop .site-menu li:first-child {
  border-bottom: 1px solid white;
}
@media (min-width: 900px) {
  /* line 460, ../sass/screen.scss */
  .desktop .site-menu li:first-child {
    border-bottom: none;
  }
}
/* line 466, ../sass/screen.scss */
.desktop .site-menu li:hover .inner-nav {
  display: block;
  border: 3px solid #ba0047;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 8px;
  background: #fff;
}
@media (min-width: 900px) {
  /* line 466, ../sass/screen.scss */
  .desktop .site-menu li:hover .inner-nav {
    width: initial;
  }
}
/* line 475, ../sass/screen.scss */
.desktop .site-menu li:hover .inner-nav a {
  background: none;
  color: #000;
  text-transform: capitalize;
  display: inline;
  font-size: 13px;
}
/* line 482, ../sass/screen.scss */
.desktop .site-menu li:hover .inner-nav span.heading {
  text-transform: uppercase;
  font-weight: bold;
  color: #3a0016;
  font-size: 15px;
  display: block;
  text-align: left;
}
/* line 490, ../sass/screen.scss */
.desktop .site-menu li:hover .inner-nav .col {
  float: left;
  width: 33%;
  padding: 0 10px;
}
/* line 495, ../sass/screen.scss */
.desktop .site-menu li:hover .inner-nav .featured {
  width: 34%;
  border-bottom: none;
}
/* line 499, ../sass/screen.scss */
.desktop .site-menu li:hover .inner-nav li {
  display: block;
  width: 100%;
  padding: 4px;
}

/* line 508, ../sass/screen.scss */
.desktop .site-menu li:nth-child(1) .inner-nav {
  left: 0;
}

@media (min-width: 900px) {
  /* line 508, ../sass/screen.scss */
  .desktop .site-menu li:nth-child(2) .inner-nav {
    left: 10%;
  }
}

@media (min-width: 900px) {
  /* line 508, ../sass/screen.scss */
  .desktop .site-menu li:nth-child(3) .inner-nav {
    left: 15%;
  }
}

@media (min-width: 900px) {
  /* line 508, ../sass/screen.scss */
  .desktop .site-menu li:nth-child(4) .inner-nav {
    left: 20%;
  }
}

@media (min-width: 900px) {
  /* line 508, ../sass/screen.scss */
  .desktop .site-menu li:nth-child(5) .inner-nav {
    left: 25%;
  }
}

@media (min-width: 900px) {
  /* line 508, ../sass/screen.scss */
  .desktop .site-menu li:nth-child(6) .inner-nav {
    left: 48% !important;
    left: 30%;
  }
}

@media (min-width: 900px) {
  /* line 508, ../sass/screen.scss */
  .desktop .site-menu li:nth-child(7) .inner-nav {
    left: 70%;
  }
}

@media (min-width: 900px) {
  /* line 508, ../sass/screen.scss */
  .desktop .site-menu li:nth-child(8) .inner-nav {
    left: 40%;
  }
}

/* =========================================
            OFF CANVAS INITIALISERS            
/* ========================================*/
/* line 532, ../sass/screen.scss */
.site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 2000px;
  /* Temp: Simulates a tall page. */
}

/* line 538, ../sass/screen.scss */
.site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

/* =========================================
=            OFF CANVAS ONLY           =
/* ========================================*/
/* line 551, ../sass/screen.scss */
.off-canvas .site-menu {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background: white;
  padding-top: 0;
}
/* line 560, ../sass/screen.scss */
.off-canvas .site-menu ul {
  border: none;
}
/* line 561, ../sass/screen.scss */
.off-canvas .site-menu ul.inner-nav li a {
  padding: 10px;
  border-bottom: 1px solid #e1e1e1 !important;
  background: #fff;
  color: #404040;
  text-transform: capitalize;
  font-size: 13px;
}
/* line 569, ../sass/screen.scss */
.off-canvas .site-menu li {
  width: 100%;
  border-right: none !important;
}
/* line 573, ../sass/screen.scss */
.off-canvas .site-menu .main-nav {
  display: block;
}
/* line 574, ../sass/screen.scss */
.off-canvas .site-menu svg.hamburger {
  padding-top: 4px;
}
/* line 577, ../sass/screen.scss */
.off-canvas .site-menu .close-text {
  display: inline;
  padding-right: 5px;
}
/* line 580, ../sass/screen.scss */
.off-canvas .site-menu .close-text svg.jdw-logo {
  float: left;
  width: 80px;
}
/* line 586, ../sass/screen.scss */
.off-canvas .site-menu .opened .plus {
  display: none;
}
/* line 587, ../sass/screen.scss */
.off-canvas .site-menu .opened .minus {
  display: inline;
}
/* line 589, ../sass/screen.scss */
.off-canvas .site-menu span.heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  display: block;
  text-align: left;
  padding: 4px 10px;
  background: #e1e1e1;
}
/* line 599, ../sass/screen.scss */
.off-canvas .site-menu a {
  display: block;
  width: 100%;
  border-bottom: 1px solid #404040;
  text-align: left;
}
/* line 600, ../sass/screen.scss */
.off-canvas .site-menu a .browse-cats {
  display: none;
}
/* line 605, ../sass/screen.scss */
.off-canvas .site-menu a:hover {
  background: #fff;
  color: #404040;
}
/* line 606, ../sass/screen.scss */
.off-canvas .site-menu a.toggle-nav {
  background: #000;
  height: 42px;
  text-align: left;
  padding-right: 7px;
  padding-left: 10px;
  line-height: 1.3em;
}
/* line 613, ../sass/screen.scss */
.off-canvas .site-menu a.toggle-nav svg {
  fill: white;
  width: 25px;
  float: right;
  margin-top: -1px;
  margin: -2px 5px 0 0;
}
/* line 617, ../sass/screen.scss */
.off-canvas .site-menu a.toggle-nav .menu {
  display: none;
}
/* line 618, ../sass/screen.scss */
.off-canvas .site-menu a.toggle-nav .close {
  display: inline;
}
/* line 620, ../sass/screen.scss */
.off-canvas .site-menu a.header {
  padding: 12px;
}
/* line 623, ../sass/screen.scss */
.off-canvas .site-menu a svg {
  fill: white;
  width: 25px;
  float: right;
  margin-top: -1px;
  fill: #404040;
}
/* line 626, ../sass/screen.scss */
.off-canvas .site-menu a svg.minus {
  display: none;
}
/* line 629, ../sass/screen.scss */
.off-canvas .site-menu .expand {
  display: block;
}
/* line 631, ../sass/screen.scss */
.off-canvas .site-menu .expand a {
  background: #fff;
  color: #404040;
  text-transform: capitalize;
}

/* line 638, ../sass/screen.scss */
.site-wrapper.off-canvas .site-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

/* line 642, ../sass/screen.scss */
.off-canvas .site-menu svg {
  display: block;
}

/* line 645, ../sass/screen.scss */
nav.expand {
  transition: height 1s;
}
